<div class="article-meta">
  <div class="banner">
    <div class="container" *ngIf="article">
      <h1>{{article.title}}</h1>
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" alt="user image">
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{article.author.username}}
        </a>
        <span class="date">
          {{article.createdAt}}
        </span>
      </div>
      <span *ngIf="isAuthor$ | async">
        <a class="btn btn-outline-secondary btn-small" [routerLink]="['/articles', article.slug, 'edit']">
          <i class="ion-edit"></i>
          Edit Article
        </a>
       <button class="btn btn-outline-danger btn-small" (click)="deleteArticle()">Delete article</button>
      </span>
    </div>
  </div>
  <div class="container page">
    <conduit-loading *ngIf="isLoading$ | async"></conduit-loading>
    <conduit-error-message *ngIf="error$ | async"></conduit-error-message>
    <div class="row article-content" *ngIf="article">
      <div class="col-xs-12">
        <div>
          <p>{{article.body}}</p>
        </div>
        <conduit-list-of-tags [tags]="article.tagList"></conduit-list-of-tags>
      </div>
    </div>
  </div>
</div>